
<table class="table table-striped align-middle">
  <thead>
    <tr>
      <th>#</th>
      <th>Übung</th>
      <th>Ordner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (e of exercises; track e) {
      <tr>
        <td>
          <strong>{{ $index + 1 }}</strong>
        </td>
        <td>
          <a class="text-dark text-decoration-none" [routerLink]="['/exercises', e.folder]">{{ e.name }}</a>
        </td>
        <td>
          <strong><code>{{ e.folder }}</code></strong>
        </td>
        <td class="text-center">
          <a class="btn btn-sm btn-success" [routerLink]="['/exercises', e.folder]">Öffnen</a>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (generationDate) {
  <div class="small text-muted mt-4">Stand: {{ generationDate | date:'mediumDate' }}</div>
}
