<div class="card mb-4">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-end" alt="" src="https://api.angular.schule/avatar/{{ book().rating }}">
    <div class="card-title">
      <h2
      [ngClass]="{
        'text-success': book().title === 'Angular'
      }">
        {{ book().title }}
        <span class="badge bg-secondary">{{ book().rating }}</span>
      </h2>
    </div>

    @if(tollesBuch()) {
      Tolles Buch!
    }

    <p>{{ book().description }}</p>

    <!-- Großer Pfusch!
    1. Wert eines Signals ge-updated, ohne .set() oder .update()
    2. Keine Validierung
    3. Logik im Template
    4. single-responsibility principle (SRP) verletzt

    -->
    <button class="btn btn-primary me-2" (click)="book().rating = book().rating - 1">-1</button>
    <button class="btn btn-primary"      (click)="book().rating = book().rating + 1">+1</button>
  </div>
</div>
